.custom-navbar {
    background-color: #ccb478; /* dull gold */
    padding: 10px 20px;
  }

  .custom-navbar .nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .custom-navbar .nav-link:hover {
    text-decoration: underline;
  }

  