<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Optional stylesheet -->d
</head>
<body>
    <img src="logo_text.png" alt="Logout Image" /> 

    <h1>Logout Successful</h1>
    <p>You have been successfully logged out.</p>
    <a href="/login">Login Again</a>
</body>
</html>